
body{
    text-align: center;
}
h1{
    color: #025157;
}
h4 {
    color: #46484c;
}

button {
    color: #fff;
    border: none;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 9px 35px;
    margin-left: 2px;
    background-color: #025157;
    height: 35px;
}
input {
   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 50px;
    
}
}
form{
    text-align: center;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px; 
    font-size: 0;
    text-align: center;
  }
.header nav li {
    display: inline;
    text-align: center;
  }
.header > * {
  display: inline-block;
  font-size: 16px;
}
.logo{
    width: 15%;
    text-align: center;
}
.navbar{
    width: 70%;
    color: #025157;
    /* margin: 0 25px 0 25px; */
}
.actions{
    width: 15%;
    color: #67b54b;
    font-size: 14px;
}
.actions > * {
margin: 0;
}
.actions > a {
    color: #67b54b;
}
.actions > button {
    color: #fff;
    background-color: #67b567;
    padding: 12px 14px;
    border-radius: 5px;
    font-weight: 600;
}

.menu-item{
    display: inline;
    margin: 0 25px;
}